<div class="container-accordion">
    <h1>Frequently Asked Questions</h1>

    <div class="accordion-wrapper">
        <button class="accordion">What is Tipple?</button>
        <div class="panel">
            <p>Tipple is a revolutionary product designed to enhance your
                experience.</p>
        </div>

        <button class="accordion">How does Tipple work?</button>
        <div class="panel">
            <p>Tipple works by utilizing advanced technology to improve your
                lifestyle.</p>
        </div>

        <button class="accordion">When should I take Tipple?</button>
        <div class="panel">
            <p>You can take Tipple whenever you need an extra boost.</p>
        </div>

        <button class="accordion">Is Tipple safe to use?</button>
        <div class="panel">
            <p>Yes, Tipple is made with high-quality ingredients and is completely
                safe.</p>
        </div>

        <button class="accordion">Can Tipple prevent intoxication?</button>
        <div class="panel">
            <p>No, Tipple is not designed to prevent intoxication. Please consume
                responsibly.</p>
        </div>

        <button class="accordion">Are there any side effects of using
            Tipple?</button>
        <div class="panel">
            <p>Tipple is generally well tolerated, but always check the ingredients
                for any allergies.</p>
        </div>
       
    </div>
    <div class="slider-btn">
        <a href="#">UNLOCK 20% OFF NOW</a>

    </div>
    <div class="slider-bottom">
        <div class="watch-icon-black"><i class="fa-solid fa-clock watch-icon"></i></div>
        <strong>Limited time offer </strong>
        <span>20% Off Your First Purchase</span>
    </div>

   
</div>