<header class="site-announcement">
  <div class="container">
    {% if section.settings.announcement_text != blank %}
      <h3>{{ section.settings.announcement_text }}</h3>
    {% else %}
      <h3>20% Off Your First Purchase</h3>
    {% endif %}
  </div>
</header>


{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "20% Off Your First Purchase"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Banner",
      "settings": {
        "announcement_text": "20% Off Your First Purchase"
      }
    }
  ]
}
{% endschema %}
