<div class="banner-wrapper">
    <div class="left-container">
        <div class="main">
            <div class="star-icon">⭐⭐⭐⭐⭐</div>
            <div class="content">
                <p>LOVED BY 100,000 HAPPY CUSTOMERS</p>
            </div>
        </div>
        <div class="para">
            <p>Goodbye hangovers! Reclaim your weekends</p>
            <small>Tipple Hangover Defence is designed for health-conscious individuals who value their productivity and
                wellness.
            </small>

        </div>
        <div class="banner-btn">
            <a href="#">UNLOCK 20% OFF NOW</a>
        </div>


        <div class="content-offer">
            <div class="watch-icon"><i class="fa-solid fa-clock watch-icon"></i></div>
            <strong>Limited time offer </strong>
            <span>20% Off Your First Purchase</span>
        </div>



    </div>
    <div class="right-container">
        <img src="{{ 'frame.png' | asset_url }}" width="600px" height="416px" alt="Logo">
    </div>

</div>