<div class="banner-yellow">
    <div class="right-container">
        <img src="{{ 'Frame 1000004422.png' | asset_url }}" width="550px" height="443px" alt="Logo">

    </div>
    <div class="left-content">

        <div class="content-para">
            <p>Goodbye Hangovers, Hello Morning!</p>

            <span>
                Tipple is a hangover defence supplement enriched with vitamins, minerals, electrolytes and
                probiotics,
                taken when you drink that leaves you feeling fresh the next day.

            </span><br />
            <span class="gap-content">Crafted from a blend of all natural herbs and botanicals. Tipple contains
                vitamins, minerals,
                electrolytes and probiotics that help reduce common hangover symptoms.
            </span>


        </div>
        <div class="banner-btn">
            <a href="#">UNLOCK 20% OFF NOW</a>
        </div>


        <div class="content-offer">
            <div class="watch-icon-black"><i class="fa-solid fa-clock watch-icon"></i></div>
            <strong>Limited time offer </strong>
            <span>20% Off Your First Purchase</span>
        </div>



    </div>


</div>