<div class="bloger">
    <div class="image-bloger">
        <img src="{{ 'Frame 1000004422.png' | asset_url }}" width="420px" height="416px" alt="Natural Ingredients">
        <img src="{{ 'Frame 1000004191.png' | asset_url }}" width="450px" height="416px" alt="Natural Ingredients">
        <img src="{{ 'Group 1000003779.png' | asset_url }}" width="450px" height="416px" alt="Natural Ingredients">
    </div>
    <div class="bloger-headings">
        <h2>Ready to Feel Great Tomorrow?</h2>
        <p>Say goodbye to groggy mornings and hello to full energy days with Tipple. Our scientifically formulated
            hangover defence is here to support your health and your social life. Why let a night out disrupt your next
            day?</p>
    </div>
    <div class="slider-btn">
        <a href="#">UNLOCK 20% OFF NOW</a>

    </div>
    <div class="slider-bottom">
        <div class="watch-icon-black"><i class="fa-solid fa-clock watch-icon"></i></div>
        <strong>Limited time offer </strong>
        <span>20% Off Your First Purchase</span>
    </div>

</div>