<div class="blog-wrapper">
    <div class="para-wrapper">
        <p>Hear how our customers are spending their hangover-free weekends</p>
    </div>
    <div class="main-wrapper">
        <div class="star-icon-blog">⭐⭐⭐⭐⭐</div>
        <div class="content-blog">
            <p>TRUSTED BY 120,000 HAPPY CUSTOMERS</p>
            
        </div>
        <div class="main-wrapper-blog">
            <a class="blog-btn">Get inspired by our customers’ stories</a>
        </div>
        
    </div>
    <div class="video-container">
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
        </div>
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/3JZ_D3ELwOQ" allowfullscreen></iframe>
        </div>
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/LXb3EKWsInQ" allowfullscreen></iframe>
        </div>
        <div class="video-box">
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
        </div>
    </div>
    <div class="slider-btn">
        <a href="#">UNLOCK 20% OFF NOW</a>

    </div>
    <div class="slider-bottom">
        <div class="watch-icon"><i class="fa-solid fa-clock watch-icon"></i></div>
        <strong>Limited time offer </strong>
        <span>20% Off Your First Purchase</span>
    </div>


</div>