<header class="site-header">
  <div class="container">
    <a href="/" class="logo">
      <img src="{{ './logo.png' | asset_url }}" width="125px" height="55px" alt="Logo">

    </a>
  
    <div class="butoon">
      <a href="#">UNLOCK 20% OFF NOW</a>
    </div>
  </div>
</header>