<div class="main-logo-section">
    <div class="top-text">
        <p>As seen in</p>
    </div>
    <div class="bottom-logo">
        
        
        <img src="{{ 'Vector.png' | asset_img_url }}" width="100px" height="25px" alt="Vector Logo">
        <img src="{{ 'popsugar-vector-logo 1.png' | asset_img_url }}"  width="100px" height="25px" alt="Popsugar Logo">
        <img src="{{ 'Group 7.png' | asset_img_url }}" width="100px" height="25px" alt="Group 7 Logo">
    </div>
</div>
