<div class="main-offer-wrapper">
    <div class="left-offer">
        <h3>Effortless relief in <br />3 simple steps</h3>
        <div class="first-tab">
            <div class="icon"></div>
            <div class="content">
                1.) Take your first dose of Tipple 30 minutes before you start drinking alcohol.
            </div>
            
        </div>
        <div class="first-tab">
            <div class="icon"></div>
            <div class="content">
                2.) Depending on the duration of your social event and the amount of alcohol you anticipate consuming
            </div>
        </div>
        <div class="first-tab">
            <div class="icon"></div>
            <div class="content">
                3.) Before you go to bed, take one last dose of Tipple. 
            </div>
        </div>
        <div class="offer-btn">
            <a href="#">UNLOCK 20% OFF NOW</a>
    
        </div>
    
        <div class="offer-bottom">
            <div class="watch-icon"><i class="fa-solid fa-clock watch-icon"></i></div>
            <strong>Limited time offer </strong>
            <span>20% Off Your First Purchase</span>
        </div>
    </div>
    <div class="right-offer">
        <img src="{{ 'Group 1000003779.png' | asset_url }}" width="570px" height="562px" alt="Logo">
    </div>
</div>