<div class="card-slider-container">
    <!-- Section Header with Navigation Buttons -->
    <div class="section-header">
        <h2>Great After Every <br /> Party with Tipple</h2>
        <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <!-- Swiper Slider -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
                <div class="card">
                    <img src="{{ 'Group.png' | asset_url }}" width="57px" height="55px" alt="Enhanced Recovery">
                    <h3>Enhanced Recovery</h3>
                    <p>Tipple is formulated to speed up your body's recovery process after alcohol consumption, helping
                        you wake up feeling refreshed and revitalized.</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
                <div class="card">
                    <img src="{{ 'Group (1).png' | asset_url }}" width="57px" height="55px"
                        alt="Nutrient Replenishment">
                    <h3>Nutrient Replenishment</h3>
                    <p>Enjoy the irresistible chocolate flavor that doesn't compromise on taste while being
                        health-conscious.</p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide">
                <div class="card">
                    <img src="{{ 'Group (2).png' | asset_url }}" width="57px" height="55px" alt="Reduced Hangover">
                    <h3>Reduced Hangover</h3>
                    <p>Each serving delivers a substantial amount of protein, essential for muscle repair and sustained
                        energy throughout the day.</p>
                </div>
            </div>
            <!-- Slide 4 -->
            <div class="swiper-slide">
                <div class="card">
                    <img src="{{ 'Group 1000003774.png' | asset_url }}" width="57px" height="55px"
                        alt="Natural Ingredients">
                    <h3>Natural Ingredients</h3>
                    <p>Enjoy the irresistible chocolate flavor that doesn't compromise on taste while being
                        health-conscious.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-btn">
        <a href="#">UNLOCK 20% OFF NOW</a>

    </div>

    <div class="slider-bottom">
        <div class="watch-icon"><i class="fa-solid fa-clock watch-icon"></i></div>
        <strong>Limited time offer </strong>
        <span>20% Off Your First Purchase</span>
    </div>



</div>