<div class="benefits">
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> FREE UK delivery
    </div>
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> Easy returns
    </div>
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> 30 day money back guarantee
    </div>
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> Easy returns
    </div>
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> FREE UK delivery
    </div>
    <div class="benefit-item">
        <i class="fas fa-check-circle"></i> Easy returns
    </div>

</div>